body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

h4 {
    color: grey;
    text-align: center;
    font-weight: 200;
}

.Donate-button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(243, 46, 11), rgb(241, 164, 49));
    color: beige;
    padding: 15px 8px;
    border-radius: 5px;
}

body,
html {
    height: 100%;
    margin: 5px;
}

.bg-image {
    background-image: url(images/donation3.jpg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {

    color: white;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;

}

#color-change {
    color: black;
    font-weight: 800;
}

.width {
    color: gray;
    display: flex;

    padding-left: 25%;
    padding-right: 15%;
}

.one {
    padding: 15px 7px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(201, 190, 190);
    border-radius: 5px;
}

#two-hundred {
    padding: 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(230, 62, 245);
    color: beige;
    border-radius: 5px;
    border: 3px;
}

.Flex-box {
    display: flexbox;
}

#gray {
    color: gray;
    font-weight: 400;
}

.color-add {
    text-align: center;
}

.other-amount-flex-box {
    text-align: center;
}

.donate-plan {
    padding-top: 65px;
    padding-bottom: 30px;
}

.Donate-plan {
    display: flex;


}

.food {
    padding: 15px;
    background-color: rgb(224, 243, 236);
    margin: 6px;
    border-radius: 5px;



}

.shelter {
    padding: 15px;
    background-color: rgb(231, 224, 231);
    margin: 6px;
    border-radius: 5px;
}

.madicine {
    padding: 15px;
    background-color: rgb(208, 236, 214);
    margin: 6px;
    border-radius: 5px;
}